[user]
	email = james.vanmil@gmail.com
	name = James Van Mil
[color]
  diff = auto
  status = auto
  branch = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[alias]
	co = checkout
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
